# Checking interval
CHECK_INTERVAL=300

LOGGING_LEVEL=Info

# Email address
EMAIL_USERNAME="test@example.com"

# Password
EMAIL_PASSWORD="A_Password"

# Email inbox
EMAIL_INBOX="INBOX"

# Email Subject filter
EMAIL_SUBJECT_FILTER="Anfrage von"

# Email From filter
EMAIL_FROM_FILTER="test@example.com"

# Email Alert (should be either "True" or "False")
EMAIL_ALERT="True"

# IMAP Server
IMAP_SERVER="imap.example.com"

# IMAP Port
IMAP_PORT=993

# SMTP Server
SMTP_SERVER="smtp.example.com"

# SMTP Port
SMTP_PORT=465

# GraphQL Server
GRAPHQL_SERVER="URL"

# GraphQL Bearer Token
GRAPHQL_BEARER_TOKEN="A Token"

# Hero App Settings
# Measure_id
#HERO_MEASURE_ID=
